.navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}