.navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.left, .center, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.navbar .right {
    justify-content: flex-end;
}

.navbar .right span {
    font-size: 2.5rem;
    padding-right: 30px;
}

.backBtn {
    background-color: transparent;
    border: none;
}

.backBtn:hover {
    cursor: pointer;
}

.navbar .left {
    justify-content: flex-start;
}

.navbar .left span {
    font-size: 2.5rem;
    padding-left: 30px;
    color: white;
}